# Configuration file

general {
    # What should happen when maxLogsProcessed is hit? [default: false]
    B:canFellLargeTrees=false

    # Log types that should never be felled. Format: <resourceId/modId>:<blockName>[#<meta>] [default: [natura:redwood_logs], [biomesoplenty:log_0#4], [forestry:logs.6#0], [forestry:logs.fireproof.6#0]]
    S:logBlacklist <
        natura:redwood_logs
        biomesoplenty:log_0#4
        forestry:logs.6#0
        forestry:logs.fireproof.6#0
     >

    # How many logs the tree scanning algorithm should look at before giving up [range: 0 ~ 100000, default: 2000]
    I:maxLogsProcessed=2000
}


