# Configuration file

general {
    # These items will drop from tumbleweed upon destroying.
    # The first number is entry weight and the string is item name.
    S:Drops <
        4 minecraft:bone
        5 minecraft:deadbush
        4 minecraft:string
        5 minecraft:wheat
        8 minecraft:stick
        3 minecraft:tallgrass:1
        4 minecraft:reeds
        4 minecraft:melon_seeds
        4 minecraft:pumpkin_seeds
        1 minecraft:name_tag
        2 minecraft:glass_bottle
        5 betterwithmods:material:0
        1 undergroundbiomes:fossil_piece:0
        1 undergroundbiomes:fossil_piece:1
        1 undergroundbiomes:fossil_piece:2
        1 undergroundbiomes:fossil_piece:3
        1 undergroundbiomes:fossil_piece:4
        1 undergroundbiomes:fossil_piece:5
        1 undergroundbiomes:fossil_piece:6
        1 undergroundbiomes:fossil_piece:7
     >
}


