# Configuration file

blocks {
    # Maximum reach distance for the block placer [range: 1 ~ 64, default: 16]
    I:blockPlacerReach=16

    # Maximum reach distance for the dispenser tweaks. 1 to disable [range: 1 ~ 32, default: 4]
    I:dispenserReach=4
}


dispenser {
    # Set to false to prevent VanillaAutomation from searching the registry for tools and weapons and make them usable by the dispenser [default: true]
    B:searchTools=true

    # Set to false to prevent the dispenser from inserting discs into juke boxes [default: true]
    B:useDiscs=true

    # Set to false to prevent the dispenser from dying sheep with [default: true]
    B:useDye=true

    # Set to false to prevent the dispenser from naming entities with name tags [default: true]
    B:useNameTags=true

    # Set to false to prevent the dispenser from planting seeds [default: true]
    B:useSeeds=true

    # Set to false to prevent the dispenser from using tools [default: true]
    B:useTools=true

    # Set to false to prevent the dispenser from using weapons [default: true]
    B:useWeapons=true
}


items {
    # The durability of the poke stick. -1 for infinite [range: -1 ~ 10000, default: 120]
    I:pokeStickDurability=120

    # The amount by which the pokestick extends your reach [range: 1 ~ 25, default: 10]
    I:pokeStickRange=10

    # If true the poke stick uses tools from your inventory to mine blocks faster [default: true]
    B:pokeStickUseTools=true
}


misc {
    # Do not modify this unless you want unexpected behaviour [default: none]
    S:latestCrash=none

    # Set to false to prevent vanillaautomation from reading crashlogs [default: true]
    B:readLogs=true
}


